# Binaries
/main
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
*.test
*.out

# Output dari Air
air.toml

# Logs
*.log

# Dependency caches
vendor/
.gomodcache/
.gocache/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Env files (jika ada konfigurasi rahasia)
.env
.env.*
